In [7]:
import pandas as pd

dataset_size = 'full'

all_data_path = './../data/join/'
data_path = f'./../data/join/{dataset_size}/'

rem_all_data_path = './../data/rem/'
rem_data_path = f'./../data/rem/{dataset_size}/'

vax_all_data_path = './../data/vax/'
vax_data_path = f'./../data/vax/{dataset_size}/'

In [8]:
# read removed

rem_ddf = pd.read_csv(f'{rem_data_path}/removed_parana.csv',
    sep=',',
    dtype={
        'date': str,
        'code': float
    })

rem_ddf.head()

         date state                 name      code  cases  deaths
0  2020-03-27    PR               Abatiá  410010.0    0.0       0
1  2020-03-27    PR         Adrianópolis  410020.0    0.0       0
2  2020-03-27    PR        Agudos do Sul  410030.0    0.0       0
3  2020-03-27    PR  Almirante Tamandaré  410040.0    0.0       0
4  2020-03-27    PR   Altamira do Paraná  410045.0    0.0       0

In [9]:
# read vaccinated

vax_ddf = pd.read_csv(f'{vax_data_path}/vax_count_acc.csv',
    sep=',',
    dtype={
        'date': str,
        'code': str
    }
)

# vax_ddf = vax_ddf.astype({'code': 'float64'})
vax_ddf['code'] = pd.to_numeric(vax_ddf['code'], errors='coerce')

vax_ddf.head()

         date      code  vaccinated
0  1976-11-20  411210.0           1
1  1986-06-15  411550.0           1
2  2002-09-18  411210.0           1
3  2020-06-15  420910.0           1
4  2021-01-11  410380.0           1

In [10]:
# concat

ddf = pd.merge(vax_ddf, rem_ddf, on=['date', 'code'])

ddf.head()

         date      code  vaccinated state            name   cases  deaths
0  2021-01-11  410380.0           1    PR         Cambira   277.0       6
1  2021-01-11  411210.0           1    PR  Jandaia do Sul   962.0      17
2  2021-01-15  410940.0           1    PR      Guarapuava  6184.0      67
3  2021-01-17  410425.0           1    PR     Campo Magro  1395.0      35
4  2021-01-17  410725.0           1    PR       Douradina   223.0       1

In [11]:
print('saving joined dfs')
ddf.to_csv(f'{data_path}/covid_parana.csv', index=False)

saving joined dfs